html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clrback);
}

a,p,h3 {
  text-decoration: none;
  color: var(--clrtxt);
}

a:focus,
a:hover {
  text-decoration: underline;
  color: var(--clrtxthov);  
}

.wrapper {
  display: flex;

  flex-direction: column;

  min-height: 100%;
}

.content-center {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  animation-name: fadeIn;
  animation-duration: 3000ms;
  animation-iteration-count: once;
  animation-direction: alternate;
}

.content-footer {
  display: flex;

  justify-content: end;
}

.footer-icon {
  margin-right: 6px;
}

.text {
  display: flex;

  flex-direction: column;
  text-align: center;

  margin-right: 30px;

  font-family: 'Roboto', sans-serif;
}

.links {
  display: flex;

  text-align: center;
}

.box {
  margin: 0 15px 0 15px;
}

:root {
  --clrback: #000;
  --clrtxt: #fff;
  --clrtxthov: #808080;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}