html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clrback);
  
  color: var(--clrtxt);
  font-family: 'Prompt';
  
  animation-name: fadeIn;
  animation-duration: 3000ms;
  animation-iteration-count: once;
  animation-direction: alternate;
}

a, h3 {
  text-decoration: none;
}

/* WRAPPER */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* CENTER */

.center {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.center-grid {
  display: grid;

  width: auto;
  height: auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
  grid-column-gap: 12px;
  
  grid-row-gap: 12px;

  margin-right: 16px;

  align-items: stretch;
}

.center-grid-caption {
  text-align: center;
  grid-area: 1 / 1 / 1 / 5; 
}

.center-grid-column {
  text-align: center;
}

.center-grid-column-1 {
  grid-area: 2 / 1 / 4 / 2;
}

.center-grid-column-2 {
  grid-area: 2 / 2 / 4 / 3;
}

.center-grid-column-3 {
  grid-area: 2 / 3 / 4 / 4;
}

.center-grid-column-4 {
  grid-area: 2 / 4 / 4 / 5;
}

/*
.center-content {
  display: flex;

  flex-direction: column;
  text-align: center;

  margin-right: 30px;
}

.center-links {
  display: flex;

  text-align: center;
}

.center-box {
  margin: 10px;
  padding: 10px;

  line-height: 30px;
}
*/

.center-link {
  color: var(--clrtxt);
}

.center-link:hover,
.center-link:focus {
  color: var(--clrtxthov);
  text-decoration: underline;
}

.center-image {
  border: 3px solid var(--clrtxt);
}

.center-image:hover,
.center-image:focus {
  border: 3px solid var(--clrtxthov);
}

/* FOOTER */

.footer {
  display: flex;

  align-items: center;
  
  justify-content: end;

  gap: 10px;

  padding: 5px 10px;
}

.footer-icon {
  width: 25px;
  height: 25px;
}

.footer-icon:hover,
.footer-icon:focus {
  filter: brightness(0.3);
}

/* ROOT */

:root {
  --clrback: #000;
  --clrtxt: #fff;
  --clrtxthov: #808080;
}

/* MEDIA */

@media only screen and (max-width: 900px) {
  body { font-size: 10px; }
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}