body{
  background-color: black; /* Цвет фона веб-страницы */
}

a:hover {
  text-decoration: underline;
  color: gray;
}

a {
  color: white;
}

h3 {
  color: white;
}

img {
  border-radius: 50%;
  object-fit: scale-down;
  --width: 175px;
  height: 175px;
}

.welc {
  color: white;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10%;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid silver;
} 

.container-2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}

.container-2 div {
  padding: 60px;
  border: 1px solid silver;
}

.container-1 div, .container-2 div {
  padding: 10px;
  border: 1px solid silver;
}

.box {
  flex-basis: 7%;
}

. img {

}